#board{
	max-width: 640px;
	min-width: 320px;
	margin: auto;
}

.square{
	background-color: #fff;
	border: 3px solid #000;
	width: 185px;
	height: 185px;
	font-size: 60px;
	margin-left: -4px;
}

.top-square{
	border-top: none;
}

.left-square{
	border-left: none;
}

.right-square{
	border-right: none;
}

.bottom-square{
	border-bottom: none;
}

.square:hover{
	background-color: #ff0;
}

#message{
	font-size: 40px;
	min-height: 80px;
}

.winning-square{
	background-color: red !important;
	color: #0000FF;
}

#new-game{
	margin-top: 10px;
	margin-bottom: 20px;
}

